<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> 
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src= "app.js"></script>
    <title>IndiaAlerts Broadcast System</title>
</head>
<body ng-app="postApp" ng-controller="postController">
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
    <div class="page-header"><h1>Enter details for this IndiaAlert:</h1></div>
    <!-- FORM -->
    <form name="userForm" ng-submit="submitForm()">
    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control" ng-model="alert.title">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea name="description" class="form-control" ng-model="alert.description"></textarea>
    </div>
    <div class="form-group">
        <label>Region</label>
        <select name="region" class="form-control" ng-model="alert.region">
        	<option value = "Delhi">Delhi</option>
        	<option value = "Mumbai">Mumbai</option>
        	<option value = "Chennai">Chennai</option>
        	<option value = "Bengaluru">Bengaluru</option>
        	<option value = "Hyderabad">Hyderabad</option>
        	<option value = "All India">All India</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
</body>
</html>